<configuration>
	<system.web>
		<customErrors mode="Off"/>
		<httpRuntime requestValidationMode="2.0" />
		<pages validateRequest="false" />
		<compilation>
			<compilers>
				<compiler language="jscript;javascript" extension=".js" type="Microsoft.JScript.JScriptCodeProvider" />
			</compilers>
		</compilation>
	</system.web>
	<system.data>
		<DbProviderFactories>
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data,Version=8.0.18.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
		</DbProviderFactories>
	</system.data>
</configuration>